/* Estilo general */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1d1d1d; /* Color de fondo oscuro */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 5.5em;
  color: #d3a625; /* Color dorado representativo de la magia */
  margin-top: 20px;
}

h2 {
  color: #d3a625; /* Color dorado para los títulos */
}

/* Contenedor para las secciones de puntuación y respuestas */
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

/* Tarjetas de puntuación, respuestas correctas e incorrectas */
.puntuacion, .respuestas, .respuestas-incorrectas {
  flex: 0 0 calc(30% - 20px);
  border: 2px solid #d3a625; /* Borde dorado */
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

/* Botón de reinicio */
#reiniciar-boton {
  padding: 20px 40px;
  font-size: 1.3em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #d3a625; /* Fondo dorado */
  color: #1d1d1d; /* Texto oscuro para resaltar */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#reiniciar-boton:hover {
  background-color: #ffd42a; /* Color dorado más claro al pasar el mouse */
}

/* Estilos adicionales */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  color: #333;
}

/* Estilo para centrar el botón */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
