/* Estilo general */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Utiliza como mínimo toda la altura de la ventana */
  background-size: cover; /* Ajusta la imagen para cubrir todo el cuerpo */
  background-position: center; /* Centra la imagen */
}

h1 {
  font-size: 5.5em;
  color: #d3a625; /* Color dorado representativo de la magia */
  margin-top: 20px;
}

h2 {
  color: #d3a625; /* Color dorado para los títulos */
}

/* Contenedor para las secciones de puntuación y respuestas */
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

/* Tarjetas de puntuación, respuestas correctas e incorrectas */
.puntuacion, .respuestas, .respuestas-incorrectas {
  flex: 0 0 calc(30% - 20px);
  border: 2px solid #d3a625; /* Borde dorado */
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

/* Botón de reinicio */
#reiniciar-boton {
  padding: 20px 40px;
  font-size: 1.3em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #d3a625; /* Fondo dorado */
  color: #1d1d1d; /* Texto oscuro para resaltar */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px; /* Espacio debajo del botón */
}

#reiniciar-boton:hover {
  background-color: #ffd42a; /* Color dorado más claro al pasar el mouse */
}

/* Estilos adicionales */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  color: #333;
}

/* Estilo para centrar el botón */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Estilo para el formulario de ingreso de nombre y botón de guardar */
.form-container {
  margin-top: 30px;
  text-align: center;
  display: flex; /* Añadido para alinear los elementos en línea */
  justify-content: center; /* Añadido para centrar los elementos en línea */
}

#nombre {
  padding: 10px;
  margin-right: 10px; /* Añadido para agregar espacio a la derecha del campo de entrada */
  border: 2px solid #d3a625; /* Borde dorado */
  border-radius: 5px;
  font-size: 1em;
  margin-top: 2.5px;
}

/* Estilo para el botón de guardar */
#guardar-datos-form button[type="submit"] {
  padding: 15px 30px;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #1d1d1d; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#guardar-datos-form button[type="submit"]:hover {
  background-color: #333; /* Color oscuro más claro al pasar el mouse */
}
/* Estilo para el mensaje de éxito */
#mensaje {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #1d1d1d;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
