/* Estilo general */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1d1d1d; /* Color de fondo oscuro */
  color: #fff; /* Color de texto blanco */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilo del encabezado */
header {
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

/* Estilo del logo de Harry Potter */
header img {
  width: 200px;
  height: auto;
}

/* Estilo de la secci贸n de descripci贸n */
#descripcion {
  text-align: center;
  margin-bottom: 40px;
}

#descripcion h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

#descripcion p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* Estilo del formulario */
form {
  text-align: center;
}

.nombre-boton {
  margin-bottom: 20px;
}

label {
  font-size: 1.2em;
}

input[type="text"] {
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 2px solid #ffc107; /* Color de borde dorado */
}

button {
  padding: 15px 30px;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #ffc107; /* Color de fondo dorado */
  color: #1d1d1d; /* Color de texto oscuro */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffd42a; /* Cambio de color al pasar el mouse */
}

/* Estilo del bot贸n Ver Ranking */
.boton-ver-ranking {
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
}

.boton-ver-ranking button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50; /* Color de fondo del bot贸n Ver Ranking */
  color: #fff; /* Color de texto blanco */
  cursor: pointer;
  transition: background-color 0.3s ease;
}



  