/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1919;
    color: #d4af37;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
  }
  
  h1, h2 {
    color: #b62020;
  }
  
  p {
    color: #000000;
  }
  
  /* Estilos para el Header */
  header {
    display: flex;
    justify-content: center; /* Centra los elementos en el header */
    align-items: center;
  }
  
  header h1 {
    text-align: center;
    position: relative;
    right: -30px;
  }
  
  header img {
    height: 35px;
    width: auto; /* Allow image to adjust width proportionally */
    position: relative;
    top: -30px; /* Mueve el logo 5px hacia arriba */
    right: -100px; /* Mueve el logo 5px a la derecha */
  }
  
  /* Estilos para el Main */
  main {
    margin-top: 20px;
  }
  
  .nombre-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  button {
    background-color: #b62020;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 15px; /* Espacio adicional antes del botón */
  }
  
  button:hover {
    background-color: #d4af37;
  }
  