<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resultados del Quiz</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/resultado.css') }}">
</head>
<body>
  <header>
    <h1>Resultados del Quiz</h1>
  </header>

  <main>
    <div class="container">
      <section class="puntuacion">
        <h2>Tu puntuación</h2>
        <p id="puntuacion-total"></p>
      </section>

      <section class="respuestas">
        <h2>Respuestas correctas</h2>
        <ul id="respuestas-correctas"></ul>
      </section>

      <section class="respuestas-incorrectas">
        <h2>Respuestas incorrectas</h2>
        <ul id="respuestas-incorrectas"></ul>
      </section>
    </div>

    <!-- Formulario para guardar los datos -->
    <div class="form-container">
      <form id="guardar-datos-form" action="/guardar" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <button type="submit">Guardar Datos</button>
      </form>
    </div>

    <div class="centered">
      <form action="/" method="get"> <!-- Modificado el action del formulario -->
        <button id="reiniciar-boton">Reiniciar el quiz</button>
      </form>
    </div>
    <div id="mensaje" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 20px; background-color: #4CAF50; color: white;"></div>

  </main>

  <script src="{{ url_for('static', filename='jss/obtener_datos.js') }}"></script>
  

</body>
</html>

